@import '../../styles/settings.scss';

.component {
  position: relative;
  min-height: ($base-size * 15);
  background: $color-dark;
  margin: 0 0 ($base-size * 3) 0;
  overflow: hidden;
  
}

.title {
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  font-size: ($base-size * 2.5);
  text-transform: uppercase;
  color: $color-light;
  transform: translate(-50%,-50%);
  letter-spacing: 4px;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.line {
  position: absolute;
  content : "";
  height  : 1px;
  width   : 75%;  
  margin: 0 200px;
  background-image: linear-gradient(to right, $color-dark, $color-warning, $color-dark);
}