@import '../../styles/settings.scss';

.component {
  padding: $base-size;
  position: relative;
}

.title {
  padding: ($base-size * 6) 0 ($base-size * 3) 0;
  text-align: center;
  font-size: ($base-size * 4);
  text-transform: uppercase;
  position: relative;
  letter-spacing: 6px;
  color: $color-light;
}

.line {
  position: absolute;
  content : "";
  height  : 1px;
  width   : 75%;  
  margin: 0 200px;
  background-image: linear-gradient(to right, $color-dark, $color-warning, $color-dark);
}

.subtitle {
  padding: ($base-size * 4) 0 ($base-size * 6) 0;
  text-align: center;
  font-size: ($base-size * 2);
  font-weight: normal;
  letter-spacing: 2px;
}

.subtitleProjects{
  padding-bottom: 24px;
}

.title + .subtitle {
  margin-top: (- $base-size * 3);
}
