@import '../../styles/settings.scss';

.component {
  padding: $base-size;
}

.title {
  padding: ($base-size * 6) 0 ($base-size * 3) 0;
  text-align: center;
  font-size: ($base-size * 3);
  text-transform: uppercase;
}

.subtitle {
  padding: ($base-size * 4) 0 ($base-size * 6) 0;
  text-align: center;
  font-size: ($base-size * 2);
  font-weight: normal;
}

.subtitleProjects{
  padding-bottom: 24px;
}

.title + .subtitle {
  margin-top: (- $base-size * 3);
}
