@import '../../styles/settings.scss';

.component {
  background-image: url('https://i.postimg.cc/02YKGnGt/geoda-Duza-Srodek.jpg');
  padding: ($base-size * 1.5) 0;
  border-bottom: solid 1px $color-warning;

  a {
    color: $color-light;
    text-decoration: none;
    font-weight: 700;
    margin-right: $base-size * 1.5;
    transition: $transition;
    &:hover {
      color: $color-success;
    }
    &:global(.active) {
      color: $color-warning;
    }
  }

}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navlink {
  width: 20%;
}

.logo {
  font-size: 24px;
}
