@import "../../styles/settings.scss";

.link {
  text-decoration: none;
  color: $color-dark;
}

.component {
  background: black;
  display: flex;
  margin-bottom: $base-size;
  border-top: solid 1px $color-warning;
  border-bottom: solid 1px $color-warning;
  border-radius: $radius;
  box-shadow: 0 ($base-size / 4) 0 rgba(0, 0, 0, 0.3);
  &:hover {
    background-color: rgb(2, 0, 37);
    border-top: solid 1px white;
    border-bottom: solid 1px white;
  }
}

.text {
  padding: $base-size;
  max-width: 400px;
  margin-right: auto;
  position: relative;
  color: $color-light;

  i {
    color: rgb(0, 8, 51);
    position: absolute;
    right: 0;
    border: solid 2px black;
    border-radius: 5px;
    padding: 1px 1px 0 1px;
    &:hover {
      color: $color-success;
      border: solid 2px $color-success;
    }
  }
}

.title {
  margin-bottom: ($base-size * 0.8);
  max-width: 400px;
}

.description {
  min-width: 400px;
}

.image {
  height: 100px;
  position: relative;

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    &:hover {
      opacity: 0.6;
    }
  }
}
